.draw {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.box {
    display: flex;
    flex: auto;
}

.cell {
    border: 1px solid black;
    flex: auto;
}

.black {
    background-color: black;
}