.draw {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.box {
    display: flex;
    flex: auto;
}

.cell {
    flex: auto;
}

.black {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 30px;
}

h1 {
    text-align: center;
}